<h1>지금까지 작성된 포스트들</h1>

<% @latest.each do |recent| %>
  <h3>
    <a href="/posts/show/<%= recent.id %>">
      <!-- <%= recent.id %> : -->
      퀘스트 <%= recent.title %>
      조회수 <%= recent.like %>
    </a>
  </h3>
<%end%>
<h1>======</h1>
<% @posts.each do |post| %>
  <h3>
    <a href="/posts/show/<%= post.id %>">
      <!-- <%= post.id %> : -->
      퀘스트 <%= post.title %>
      조회수 <%= post.like %>
    </a>
  </h3>
<% end %>

ppp

<h2><a href="/posts/new">[추가하기]</a></h2>




  <%= paginate @posts %>
