<div class = "container body-box" style="padding-top: 80px">
   <div class="container">
     <section class="keyword">
       <h2 class="keyword-title sr-only">키워드</h2>
       <div class="keyword-tabpanel">
         <div class="keyword-nav">
           <a
             id="nav1"
             href="#first-tab">n행시</a>
           <a
             id="nav2"
             href="#second-tab">아무말 대잔치</a>

             <a class="btn-add" href="/posts/new">
               추가
             </a>
         </div>
         <!-- <a href="/posts/new">[추가하기]</a> -->
         <ul class="keyword-list">
           <li
             id="first-tab"
             class="keyword-item first">
             <div class="keyword-container">

               <% @latest.each do |recent| %>

                   <a href="/posts/show/<%= recent.id %>">
                     <%= recent.title %>
                   </a>

               <% end %>
             </div>
           </li>
           <li
             id="second-tab"
             class="keyword-item second">
             <div class="keyword-container">
               <a href="#">철수는</a>
               <a href="#">첫사랑</a>
               <a href="#">나는 누구인가</a>
             </div>
           </li>
         </ul>
       </div>
     </section>
   </div>

   <section class = "container main-content">
     <% @posts.each do |post| %>
       <div class="user-post">
         <a href="/posts/show/<%= post.id %>">
           <div class="main-data">
             <div class="post-title">
               <h1><%= post.title %></h1>
             </div>
           </div>
         </a>
         <div class="sub-data">
           <div class="">
             <img class="sub-image" src="https://cdn2.iconfinder.com/data/icons/pittogrammi/142/61-128.png" alt="">
             <p><%= post.like %></p>
           </div>
           <div class="">
             <img class="sub-image" src="https://cdn4.iconfinder.com/data/icons/glyphs/24/icons_Message-128.png" alt="">
             <p>덧글수</p>
           </div>
           <div class="">
             <img class="sub-image" src="https://cdn2.iconfinder.com/data/icons/pittogrammi/142/10-128.png" alt="">
             <p><%= post.created_at.strftime("%b %d, %Y")%></p>
           </div>
         </div>
       </div>
       <% end %>
     </section>
   </div>

     <%= paginate @posts %>
