<h1>포스트 하나에 대한 내용입니다.</h1>

<h2>제목 : <%=@post.title%></h2>
<h2>내용 : <%=@post.content%></h2>

<h3>댓글입니다.</h3>
<form action="/posts/show/<%=@post.id%>/comments/create" method="post">
  <input type="text" name="input_comment">
  <input type="submit">
</form>

<% @comments.each do |comment| %>
  <p>
    <% if comment.pid == 0%>
      <%= comment.content%>
            <% if user_signed_in? %>

              <% if current_user.id == comment.user_id %>
                <a href="/posts/show/<%=@post.id%>/comments/destroy/<%=comment.id%>"
                  data-method='post'
                  data-confirm="댓글을 삭제합니다."
                >
                [x]
                </a>
              <%end%>

              <form action="/posts/show/<%=@post.id%>/comments/<%=comment.id%>/create" method="post">
                <input type="text" name="input_comment">
                <input type="submit">
              </form>

            <% end %>
          <% end %>


    <% @comments.each do |ccc| %>
        <% if ccc.pid == comment.id%>
          <br>-<%= ccc.content%>
        <% end %>

        <% if user_signed_in? %>

          <% if ccc.pid == comment.id && current_user.id == ccc.user_id %>
            <a href="/posts/show/<%=@post.id%>/comments/destroy/<%=ccc.id%>"
              data-method='post'
              data-confirm="댓글을 삭제합니다."
            >
            delete
            </a>
          <%end%>
        <%end%>

    <%end%>

</p>
<% end %>

<% if user_signed_in? %>
  <% if current_user.id == @post.user_id %>
  <a href="/posts/destroy/<%=@post.id%>">[삭제하기]</a>
  <a href="/posts/edit/<%=@post.id%>">[수정하기]</a>
  <%end%>
<% end %>
<a href="/posts/index"> [목록으로 가기]</a>
