<!DOCTYPE html>
<html>
  <head>
    <title>Hackerton</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <!-- <% if notice %>
      <p class="alert alert-success"><%= notice %></p>
    <% end %>
    <% if alert %>
      <p class="alert alert-danger"><%= alert %></p>
    <% end %> -->
    <!-- <h2><a href="/">home</a></h2>
    <% if user_signed_in? %>
      <p>현재 로그인된 유저의 이메일 : <%= current_user.email %></p>
      <p><%= link_to "로그아웃", destroy_user_session_path, method: :get, data: { confirm: "Are you sure?" } %></p>
    <% else %>
      <p><%= link_to "로그인", new_user_session_path %></p>
      <p><%= link_to "회원가입", new_user_registration_path %></p>

    <% end %> -->
  <nav>
   <div class="nav-all">
     <div class="home">
       <a href="/"><img class="home-icon" src="http://adsumholidays.com/images/home.png" alt="homeicon"></a>
     </div>

     <div class="search">
       <form class="search-bar" action="/searches/search" method = "post">
         <input type="text" name="search_content" placeholder="검색어를 입력해 주세요">
         <input type = "submit" value ="검색">
       </form>
       <div class="search-icon">
         <a href="/searches/search" class="d-block">
           <img class="search-icon" src="https://cdn1.iconfinder.com/data/icons/hawcons/32/698627-icon-111-search-128.png" alt="search"></a>
       </div>

       <div class="setting">
         <a class="d-block" href="#">
           <img class="btn-more-icon" src="https://cdn4.iconfinder.com/data/icons/mayssam/512/cog-128.png" alt="">
         </a>
       </div>
     </div>
   </div>

   <div class="account">
     <div class="login">
       <a href="#">Log in</a>
     </div>

     <div class="signup">
       <a href="#">Sign up</a>
     </div>
   </div>
 </nav>




<form action="/searches/search" method = "post">
 <input type = "text" name ="search_content">
 <input type = "submit" value ="검색">
</form>

<%= yield %>



<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>



<script>
  var firstTabButton = document.getElementById('nav1');
  var secondTabButton = document.getElementById('nav2');
  var firstPanel = document.getElementById('first-tab');
  var secondPanel = document.getElementById('second-tab');
  firstTabButton.addEventListener('click', function() {
    secondPanel.style.display = 'none';
    firstPanel.style.display = 'block';
    this.style.backgroundColor = '#ddd';
    secondTabButton.style.backgroundColor = '#f1f1f1';
  })
  secondTabButton.addEventListener('click', function() {
    firstPanel.style.display = 'none';
    secondPanel.style.display = 'block';
    this.style.backgroundColor = '#ddd';
    firstTabButton.style.backgroundColor = '#f1f1f1';
  })
</script>
<!--
        <footer class="under-bar">
          <img src="https://d2hmp4n7p97ldw.cloudfront.net/assets/logo/likelion-white-a930fbcdf3042a50ba882ece9c02f43536971297a8e143e212d9b92d653bfa44.png" alt="">
        </footer> -->
  </body>
</html>
